* {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 100;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.button {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: 22%;
}

button {
  width: 120px;
}

.summary-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 150px;
  width: 100%;
  height: 800px;
  padding: 0px 100px;
}
.chart {
  width: 50%;
  height: 800px;
}
.foodlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 50%;
  height: 100%;
  float: right;
  margin-left: 120px;
}
.heightSizing {
  height: 700px;
  padding: 30px;
}

.chart-daily {
  display: flex;
  justify-content: center;
}

.summary--foodlist {
  margin-bottom: 60px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #666666;
  font-family: Roboto;
  font-weight: 400;
}
