.summary-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 800px;
}
.chart {
  width: 50%;
  height: 800px;
}
.foodlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  float: right;
}
.heightSizing {
  height: 700px;
}
.button {
  margin: 20px;
}

.chart-daily {
  display: flex;
  justify-content: center;
}
