.summary-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.button {
    width: 40vh;
    height: 68vh;
}
/* 
.chart {
    position: absolute;
    top: 5%;
    left: 1%;
    width: 60%;
    height: 80%;
    overflow: none;
}

.foodlist {
    position: absolute;
    top:3%;
    right:3%;
    width: 30%;
    height: 60%;
    overflow: none;
} */