.list {
    position: relative;
}

.head1 {
    background-color: rgba(63, 134, 134, 0.5);
    position: absolute;
    width: 650px;
    left: 130px;
    top: 120px;
}

.center__line {
    position: absolute;
    border: 1ps solid #3d3d3d;
    width: 700px;
    left: 600px;
    top: 450px;
    transform: rotate(90deg);
}

.head2 {
    background-color: rgba(123, 188, 155, 0.5);
    position: absolute;
    left: 1140px;
    top: 120px;
    width: 650px;
}