.calculator {
  display: flex;
  flex-direction: column;
}

.food-cart {
  display: flex;
  justify-content: space-around;
}

/* calculator-search */
.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-input {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.search-button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.food {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  float: left;
  margin-left: 100px;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  float: right;
  margin-right: 100px;
}

.cart--confirm {
  display: flex;
  justify-content: space-around;

  align-items: baseline;
  margin: 20px;
  width: 100%;
}

/* 
.total-calorie {
} */

.cart-button {
  display: flex;
}

.cart-button__delete {
  margin-right: 10px;
}

.cart--foodlist {
  width: 70%;
}

.food--addtocart {
  display: flex;
  width: 40%;
  align-items: baseline;
  justify-content: space-between;
  margin: 20px;
}
.addtocart-button {
}
