.search-input {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.search-button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

.food {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.cart {
    width: 50%;
    float: right;
    margin-top: 100px;
}

.total-calorie {
    margin-top: 20px;
}

.addtocart-button {
    margin-left: 220px;
    margin-top: 20px;
}

.cart-button {
    margin-top: 20px;
}
